.App {
  text-align: center; }
  .App nav {
    background: #00796B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem; }
    .App nav .SearchForm * {
      margin: 0 .5rem;
      border-radius: 100px;
      padding: .5rem 1rem;
      border: none;
      outline: none; }
    .App nav .SearchForm button {
      background: #80CBC4;
      color: white;
      cursor: pointer; }
      .App nav .SearchForm button:disabled {
        opacity: .5;
        cursor: auto; }
  .App .Container {
    display: flex;
    justify-content: center; }
