.Table {
  padding: 2rem;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start; }
  .Table .List {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #00796B;
    box-shadow: 1px 1px 5px #888888; }
    .Table .List div {
      display: flex;
      justify-content: center; }
      .Table .List div p {
        width: 20%; }
    .Table .List .DeveloperHeader {
      background-color: #009688; }
      .Table .List .DeveloperHeader p {
        color: white; }
